<!DOCTYPE html>
<header>
  <app-header></app-header>
</header>
<main>
  <nav>
    <div class="collection">
      <ul>
        <li><a routerLink="/my-orders" class="collection-item">My Orders</a></li>
        <li><a routerLink="/second" class="collection-item">Page 2</a></li>
        <li><a routerLink="/third" class="collection-item">Page 3</a></li>
        <li><a routerLink="/fourth" class="collection-item">Page 4</a></li>
        <li><a routerLink="/fifth" class="collection-item">Page 5</a></li>
      </ul>
    </div>
  </nav>
</main>
  <article>
    <router-outlet></router-outlet>
    <!--<app-main-page></app-main-page>-->
  </article>

<footer>
  <app-footer></app-footer>
</footer>

