<div id="appComp">


  <table>
    <tr>
      <td colspan="2">
        <app-header></app-header>
      </td>
    </tr>
    <tr>
      <td width="30%">
        <nav>
          <a routerLink="/heroes">My List Tabs:</a>
        </nav>
        <app-tabs-panel></app-tabs-panel>
      </td>
      <td width="70%">
        <!--<app-main-page [tabsS]="selectedTabs"></app-main-page>-->
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <app-footer></app-footer>
      </td>
    </tr>

  </table>

</div>

<router-outlet></router-outlet>
